*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0; 
  border-style: solid;
}

body {
  background-image: url(1328086.png);
  margin: 0;
  height: 100vh
}

main {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

svg {
  margin: 0;
  height: 70px;
}

path {
  cursor: pointer;
}

#facebook {
    background: transparent;
}

#instagram {
  background: transparent;
}

#github {
  background: transparent;
}